 table{
  border-collapse: collapse;
 }
 th{
  padding: 20px;
  color: red;
  background-color: aquamarine;
  border-bottom: 1px solid black;
}
td,tr{
  padding:20px;
  border-bottom: 1px solid black;
  border-right: 1px solid;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}
p{
    text-align: center;
}
