h2{
    color: blue;
}

th{
    padding: 20px;
    color: red;
    background-color: aquamarine;
  }
  td{
    padding:20px;
    background-color: grey;
  }

p{
    text-align: center;
}